%center
  %body{:style => "background-color:pink;"}
    %br
    %br
    %h2 Showing All Users
    %br 
    %br
    %h3 Name ------- Phone Numbers ------- Emails
    - users.each do |user|
      = user.name
      = '-------------'
      = user.mobile_number
      = '-------------'
      = user.email
      %br
    %br
    %br
    = link_to 'Sign Up', new_user_path
    %br
    %br
    = link_to 'Login', login_path
  