%center
  %body{:style => "background-color:pink;"}
  %h1 Sing Up!!
  = simple_form_for form do |f|
    = f.input :name
    %br
    = f.input :email
    %br
    = f.input :mobile_number
    %br
    = f.input :password
    %br
    = f.submit